
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'books:book_list' %}">Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:book_list' %}">Books</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'borrow:borrow_list' %}">My Borrows</a>
        </li>
          <li class="nav-item">
             <a class="nav-link" href="{% url 'borrow:request_cart' %}">My Requests</a>
        </li>
      {% endif %}
      {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
        </li>
      
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
         <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
